.about{
            padding: 0 3rem 0 3rem;
            display: flex;
            height: 70vh;
            margin-top: 4rem;
}
/* right side */

.a-right{
            position: relative;
}
.a-mainCircle{
            left: 9rem;
            position: relative;
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            box-shadow: var(--smboxShadow);
            top: 2rem;
            background: white;
}
.a-mainCircle>*{
            position: absolute;
}
.a-mainCircle>:nth-child(1){
            top: -3rem;
            left: 6rem;
}
.a-mainCircle>:nth-child(2){
            top: 5rem;
            left: -3rem;
}
.a-mainCircle>:nth-child(3){
            top: 5rem;
            left: 6rem;
}
.a-mainCircle>:nth-child(4){
            top: 5rem;
            left: 15rem;
}
.a-mainCircle>:nth-child(5){
            top: 13rem;
            left: 6rem;
}
.a-secCircle{
            width: 6rem;
            height: 6rem;
            position: absolute;
            border-radius: 100%;
            border: 5px solid #ebebeb;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            background: white;
            box-shadow: var(--smboxShadow);
}

.a-secCircle > img{
            transform: scale(0.1);
}
.a-backCircle{
            position: absolute;
            height: 13rem;
            width: 13rem;border-radius: 100%;
            z-index: -1;
}
.blueCircle{
            background: #194988;
            left: 18rem;
            top: 0rem;
}
.yellowCircle{
            background: #F5C32C;
            left: 18rem;
            top: 8rem;
}