.contact-form {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 80vh;
  margin-top: 7rem;
}

.c-right {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}
.c-right > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.c-right .user {
  width: 25rem;
  height: 2.5rem;
  padding: 0.3rem;
  outline: none;
  border: 2px solid var(--orange);
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  height: 7rem !important;
}
.c-blur {
  top: 1rem;
  left: 15rem;
}
.s-blur {
  top: 7rem;
  left: -14rem;
}

@media (max-width: 1200px){
  .contact-form{
        padding: 0;
        margin-top: 0;
        flex-direction: column;
        gap: 3rem;
        height: 45rem;
       
    }
    .c-right .user{
        width: 40rem;
    }
    .awesome>span{
      margin-left: 4rem;
    }
}

@media (max-width: 768px){
   .contact-form{
        padding: 0;
        margin-top: 0;
        flex-direction: column;
        gap: 3rem;
        height: 45rem;
    }
    .c-right .user{
        width: 32rem;
    }
}
      


@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        margin-top: 0;
        flex-direction: column;
        gap: 3rem;
        height: 45rem;
    }
    .c-right .user{
        width: 16rem;
    }

}   
